body{
    width:  100%;
    margin: 10px;
   }
   .caja1{
    width: 30%;
    
    padding: 0px;
    float: left;
    margin: 10px;
}

h1{
    text-align: center;
}

@media only screen and (max-width:768px){ 
    .isq{
    float: left;
    display: block;
    width: 20%;
    height: auto;
    }

    .der{
        padding: 0px;
        float: right;
        width: 70%;
    }

    .libro{
        width: 70%;
        float: right;
        margin: 0px;
        padding: 0px;
    }

    .parlante li{
    width: 33%;
    margin: 0px;
    padding: 0px;
    float: left;
    list-style: none;

    }

}


@media (max-width:420px){

    .caja1{
        width: 100%;
        
        padding: 0px;
        float: left;
    }

    .parlante li{
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
    list-style: none;
    }
}